<body>
    <form action="/signup" method="POST">
    <figure class="text-center"><h1>Create an Account </h1></figure>
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Name: </label>
            <div class="col-sm">
                <input type="text" class="form-control" name="name">
            </div>
        </div>

        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Username: </label>
            <div class="col-sm">
                <input type="text" class="form-control" name="username">
            </div>
        </div>

        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password: </label>
            <div class="col-sm">
                <input type="password" class="form-control" name="password">
            </div>
        </div>    

        <div class="d-grid gap-2">  
            <button type="submit" class="btn btn-outline-success">Sign up</button>
            <p>Already have an account? <a href="/index">Take me to login page</a></p>
        </div>      
    </form>
</body>