<% if current_user == @user %>
    <h1>Your Profile</h1>

    <h3>Name: <%= @user.name %></h3>
    <h3>Username: <%= @user.username %></h3>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    
        <a type="submit" class="btn btn-outline-success me-md-2" href="/users/<%= @user.id %>/edit">Edit user</a>
        
        <form method="POST" action="/users/<%= @user.id %>">
            <input type="hidden" value="DELETE" name="_method">
            <button type="submit" class="btn btn-outline-danger me-md-2">Delete user</button>
        </form>

    <a type="submit" class="btn btn-outline-success me-md-2" href="/plants">My Plants</a>
</div>

<%else%>

    <p>You dont have access to this profile</p>

<% end %>