<body>
    <form action="/plants" method="POST">
        <figure class="text-center"><h1>Create a New Plant</h1></figure>
        <br>
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Type: </label>
            <div class="col-sm">
                <input type="text" class="form-control" name="plant[name]">
            </div>
        </div>  

        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Nickname: </label>
            <div class="col-sm">
                <input type="text" class="form-control" name="plant[nickname]">
            </div>
        </div>

        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Lighting: </label>
            <div class="col-sm">
                <input type="text" class="form-control" name="plant[sunlight]">
            </div>
        </div>

        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Watering: </label>
            <div class="col-sm">
                <input type="text" class="form-control" name="plant[water]">
            </div>
        </div>

        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Fertilizer: </label>
            <div class="col-sm">
                <input type="text" class="form-control" name="plant[fertilizer]">
            </div>
        </div>

        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Pet Safe?</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="plant[pet_safe]" id="dog_safe" value="Dog Safe">
                    <label class="form-check-label" for="dog_safe"> Dog </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="plant[pet_safe]" id="cat_safe" value="Cat Safe">
                    <label class="form-check-label" for="cat_safe"> Cat </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="plant[pet_safe]" id="both_safe" value="Cat and Dog Safe">
                    <label class="form-check-label" for="both_safe"> Cat and Dog Safe </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="plant[pet_safe]" id="not_safe" value="Not Pet Safe">
                    <label class="form-check-label" for="not_safe"> Neither </label>
                </div>
            </div>
        </fieldset>
        <br>
        <div class="row mb-3">
            <label for="notes" class="form-label">Notes:</label>
            <textarea type="text" class="form-control" name="plant[notes]" rows="3"></textarea>
        </div>
        
        <div class="d-grid gap-2">  
            <button type="submit" class="btn btn-outline-success">Add Plant</button>
        </div>     
    </form>
<body>