<%# 
    <h1> Hello, please login to view and maintain your plants. </h1>

    <form action="/login" method="POST">
    <label>Username: </label><input type="text" name="username"><br>
    <label>Password: </label><input type="password" name="password"><br>
    <br>
    <input type="submit" value="Login">
    </form>
    <br>

    <a href="/signup"> Sign up</a> %>


