<!-- any get requests come here first, reads file, finds the yeild and interperates whatever file matches the get request-->
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Houseplant Helper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="css" href="/stylesheets/style.css">
    </head>

    <body>
        <%= yield %> 

    </body>
</html>
